/node_modules
/vendor
/storage
/public/storage/
/public/storage/*
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/media/
/public/images/
/public/uploads/submissions/
.phpstorm.meta.php
_ide_helper.php
public/uploads/*
storage

